<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="MailNotifyConfig" type="TFSWIWatcher.BL.Providers.MailNotifyConfigSectionHandler, TFSWIWatcher.BL" />
		<section name="TFSObserverAccountConfig" type="TFSWIWatcher.BL.Providers.TFSObserverAccountConfigSectionHandler, TFSWIWatcher.BL" />
		
		<section name="ObserverAccountProvider" type="TFSWIWatcher.BL.Providers.ProviderConfig, TFSWIWatcher.BL" />
		<section name="NotifyProvider" type="TFSWIWatcher.BL.Providers.ProviderConfig, TFSWIWatcher.BL" />
		<section name="CredentialsProvider" type="TFSWIWatcher.BL.Providers.ProviderConfig, TFSWIWatcher.BL" />
		
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
	</configSections>

	<ObserverAccountProvider assemblyName="TFSWIWatcher.BL" providerClass="TFSWIWatcher.BL.Providers.TFSObserverAccountProvider"  />
	<NotifyProvider assemblyName="TFSWIWatcher.BL" providerClass="TFSWIWatcher.BL.Providers.MailNotifyProvider"  />
	<CredentialsProvider assemblyName="Microsoft.TeamFoundation.Client, Version=9.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" providerClass="Microsoft.TeamFoundation.Client.UICredentialsProvider"  />

	<MailNotifyConfig>
		<MailTransformationFile>WorkItemChangedEvent.xsl</MailTransformationFile>
	</MailNotifyConfig>

	<TFSObserverAccountConfig>
		<RegexPattern>^(?&lt;user&gt;.+)$</RegexPattern>
		<ObserversFieldName>DNE.Observers</ObserversFieldName>
		<RegexOptions>Compiled | Multiline | IgnoreCase</RegexOptions>
	</TFSObserverAccountConfig>

	<appSettings>
		<add key="TeamServer" value="http://yourteamserver:8080"/>
		<add key="LocalServicePort" value="50782"/>
	</appSettings>

	<system.net>
		<mailSettings>
			<smtp deliveryMethod="Network" from="TFSWIWatcher@YourDomain">
				<network host="YourMailServer" port="25" />
			</smtp>
		</mailSettings>
	</system.net>
	
	<log4net>
		<appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
			<file value="log.txt" />
			<appendToFile value="true" />
			<maximumFileSize value="1MB" />
			<rollingStyle value="Size" />
			<staticLogFileName value="true" />
			<layout type="log4net.Layout.PatternLayout">
				<header value="[Header]&#13;&#10;" />
				<footer value="[Footer]&#13;&#10;" />
				<conversionPattern value="%date [%thread] %-5level %logger [%ndc] - %message%newline" />
			</layout>
		</appender>
		<root>
			<level value="DEBUG" />
			<appender-ref ref="RollingLogFileAppender" />
		</root>
	</log4net>
</configuration>