*
{
	margin: 0;
	padding: 0;
}

body
{
	line-height:1.5em;
}

.main
{
	margin: 10px;
}

strong
{
	font-size: larger;
}

.header
{
	padding: 10px 0 10px 0;
	background-color: #FF6600;
	color: #ffffff;
	font-weight: bold;
	text-align: center;
	outline-color: -moz-use-text-color;
	outline-style: none;
	outline-width: medium;
}

h2
{
	font-family: Arial,sans-serif;
	font-weight:bold;
	border-bottom:1px solid #CCCCCC;
	color:#333333;
	font-size:135%;
	padding-bottom: 5px;
	margin: 10px 0 10px 0;
}

h3
{
	font-family: Arial,sans-serif;
	color:#BB7711;
	font-weight:bold;
	font-size: 100%;
	margin: 15px 0 -5px 0;
}

p
{
	margin: 10px 0 10px 2px;
	font-family:Arial,sans-serif;
	color:#333333;
	font-size: 90%;
}

a
{
	font-family: Arial,sans-serif;
	color:#FF6600;
	text-decoration:none;
}

a:hover
{
	color:#FF9900;
}

.index
{
	margin-left: 40px;
	list-style-type: square;
}

.separation
{
	height: 40px;
}

.lightIndent
{
	margin-left: 20px;
}