<?xml version="1.0" encoding="utf-8" ?>
<ConfigSettings>
  <ObserverAccountProviders>
    <Provider assemblyName="TFSWIWatcher.BL" providerClass="TFSWIWatcher.BL.Providers.TFSObserverAccountProvider" enabled="true"  />
  </ObserverAccountProviders>

  <NotifyProviders>
    <Provider assemblyName="TFSWIWatcher.BL" providerClass="TFSWIWatcher.BL.Providers.MailNotifyProvider" enabled="true"/>
  </NotifyProviders>

  <MailNotifyConfig>
    <MailTransformationFile>..\..\..\TFSJobAgent\Transforms\1033\WorkItemChangedEvent.xsl</MailTransformationFile>
  </MailNotifyConfig>

  <TFSObserverAccountConfig>
    <RegexPattern>^(?&lt;user&gt;.+)$</RegexPattern>
    <ObserversFieldName>Assigned To</ObserversFieldName>
    <RegexOptions>Compiled | Multiline | IgnoreCase</RegexOptions>
    <!--<Projects>
			<Project name="Project1">
				<WIT include="Bug" />
				<WIT include="Task" />
			</Project>
		</Projects>-->
  </TFSObserverAccountConfig>
</ConfigSettings>