<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="MailNotifyConfig" type="TFSWIWatcher.BL.Configuration.MailNotifyConfigurationSectionHandler, TFSWIWatcher.BL" />
		<section name="TFSObserverAccountConfig" type="TFSWIWatcher.BL.Configuration.TFSObserverAccountConfigurationSectionHandler, TFSWIWatcher.BL" />
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
		<section name="ConfigSettings" type=" TFSWIWatcher.BL.Configuration.ConfigSettingsConfigurationSection, TFSWIWatcher.BL"/>
	</configSections>

	<ConfigSettings teamServer="http://yourteamserver:8080" localServicePort="50782">
		<NotifyProviders>
			<Provider assemblyName="TFSWIWatcher.BL" providerClass="TFSWIWatcher.BL.Providers.MailNotifyProvider" enabled="true"/>
		</NotifyProviders>

		<ObserverAccountProviders>
			<Provider assemblyName="TFSWIWatcher.BL" providerClass="TFSWIWatcher.BL.Providers.TFSObserverAccountProvider" enabled="true"  />
		</ObserverAccountProviders>

		<CredentialsProvider assemblyName="Microsoft.TeamFoundation.Client, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" providerClass="Microsoft.TeamFoundation.Client.UICredentialsProvider"  />	
	</ConfigSettings>
	
	<MailNotifyConfig>
		<MailTransformationFile>WorkItemChangedEvent.xsl</MailTransformationFile>
	</MailNotifyConfig>

	<TFSObserverAccountConfig>
		<RegexPattern>(?&lt;user&gt;[^;,\s]+)</RegexPattern>
		<ObserversFieldName>DNE.Observers</ObserversFieldName>
		<RegexOptions>Compiled | Multiline | IgnoreCase</RegexOptions>

		<!-- Use the section below to limit notifications to specific projetcs and specific workitem types -->
		<!--<Projects>
			<Project name="TeamProject1">
				<WIT include="Bug" />
				<WIT include="Task" />
			</Project>
			<Project name="TeamProject2">
				<WIT include="Bug" />
			</Project>
		</Projects>-->
	</TFSObserverAccountConfig>

	<system.net>
		<mailSettings>
			<smtp deliveryMethod="Network" from="TFSWIWatcher@YourDomain">
				<network host="YourMailServer" port="25" />
			</smtp>
		</mailSettings>
	</system.net>
	
	<log4net>
		<appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
			<file value="log.txt" />
			<appendToFile value="true" />
			<maximumFileSize value="1MB" />
			<rollingStyle value="Size" />
			<staticLogFileName value="true" />
			<layout type="log4net.Layout.PatternLayout">
				<header value="[Header]&#13;&#10;" />
				<footer value="[Footer]&#13;&#10;" />
				<conversionPattern value="%date [%thread] %-5level %logger [%ndc] - %message%newline" />
			</layout>
		</appender>
		<root>
			<level value="DEBUG" />
			<appender-ref ref="RollingLogFileAppender" />
		</root>
	</log4net>
</configuration>